{% extends 'MewesKWebRedirectorBundle::base.html.twig' %}

{% block headline %}Redirect{% endblock %}

{% block content_row %}
    <div class="row">
        <div class="col-md-10">
            <dl class="dl-horizontal">
                <dt>Id</dt>
                <dd>{{ entity.id }}</dd>
                <dt>Position</dt>
                <dd>{{ entity.position }}</dd>
                <dt>Hostname</dt>
                <dd>{{ entity.hostname|format_regex }}</dd>
                <dt>Path</dt>
                <dd>{{ entity.path|format_regex }}</dd>
                <dt>Destination</dt>
                <dd>{{ entity.destination|format_destination }}</dd>
                <dt>Enabled</dt>
                <dd><span class="glyphicon glyphicon-{{ entity.enabled ? 'ok' : 'none' }}"></span></dd>
                <dt>Uses Regex</dt>
                <dd><span class="glyphicon glyphicon-{{ entity.useRegex ? 'ok' : 'none' }}"></span></dd>
                <dt>Uses Placeholders</dt>
                <dd><span class="glyphicon glyphicon-{{ entity.usePlaceholders ? 'ok' : 'none' }}"></span></dd>
            </dl>
        </div>

        <div class="col-md-2 btn-group-vertical">
            <a href="{{ path('admin_test', { 'id': entity.id }) }}" class="btn btn-primary test">
                <span class="glyphicon glyphicon-signal pull-left"></span> Test
            </a>
            <a href="{{ path('admin_edit', { 'id': entity.id }) }}" class="btn btn-default">
                <span class="glyphicon glyphicon-pencil pull-left"></span> Edit
            </a>
            <a href="{{ path('admin_delete', { 'id': entity.id }) }}" class="btn btn-default delete">
                <span class="glyphicon glyphicon-trash pull-left"></span> Delete
            </a>
            <a href="{{ app.request.headers.get('referer') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-arrow-left pull-left"></span> Back
            </a>
        </div>
    </div>
{% endblock %}
