<div id="test" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            {{ form_start(form) }}

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Test</h4>
            </div>

            <div class="modal-body">
                <dl class="dl-horizontal">
                    <dt>Hostname</dt>
                    <dd>{{ entity.hostname|format_regex }}</dd>
                    <dt>Path</dt>
                    <dd>{{ entity.path|format_regex }}</dd>
                    <dt>Destination</dt>
                    <dd>{{ entity.destination|format_destination }}</dd>
                </dl>
                {{ form_errors(form) }}
                {{ form_widget(form) }}
                {% if result %}
                    <hr />
                    <div style="text-align: center">
                        <strong>{{ result.destination }}</strong>
                    </div>
                    <br />
                    <div class="panel-group">
                    {% if entity.useRegex %}
                        <div class="panel panel-default panel-sm">
                            <div class="panel-heading">
                                <a data-toggle="collapse" href="#details-hostname-groups">
                                    <h3 class="panel-title">Hostname groups</h3>
                                </a>
                            </div>
                            <div id="details-hostname-groups" class="panel-collapse collapse">
                                <table class="table">
                                    <tbody>
                                    {% for key, value in result.hostnameGroups %}
                                        <tr>
                                            <td class="col-md-2">{{ key }}</td>
                                            <td>{{ value }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="panel panel-default panel-sm">
                            <div class="panel-heading">
                                <a data-toggle="collapse" href="#details-path-groups">
                                    <h3 class="panel-title">Path groups</h3>
                                </a>
                            </div>
                            <div id="details-path-groups" class="panel-collapse collapse">
                                <table class="table">
                                    <tbody>
                                    {% for key, value in result.pathGroups %}
                                        <tr>
                                            <td class="col-md-2">{{ key }}</td>
                                            <td>{{ value }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    {% endif %}
                    {% if entity.usePlaceholders %}
                        <div class="panel panel-default panel-sm">
                            <div class="panel-heading">
                                <a data-toggle="collapse" href="#details-placeholders">
                                    <h3 class="panel-title">Placeholders</h3>
                                </a>
                            </div>
                            <div id="details-placeholders" class="panel-collapse collapse">
                                <table class="table">
                                    <tbody>
                                    {% for key, value in result.placeholders %}
                                        <tr>
                                            <td class="col-md-2">{{ key }}</td>
                                            <td>{{ value }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    {% endif %}
                    </div>
                {% endif %}
            </div>

            <div class="modal-footer">
                <div class="btn-group col-md-6 pull-right">
                    <button type="submit" class="btn btn-primary col-md-6">
                        <span class="glyphicon glyphicon-signal pull-left"></span> Test
                    </button>
                    <a class="btn btn-default col-md-6" data-dismiss="modal">
                        <span class="glyphicon glyphicon-remove pull-left"></span> Cancel
                    </a>
                </div>
            </div>

            {{ form_end(form) }}
        </div>
    </div>
</div>