{% extends 'MopaBootstrapBundle::base.html.twig' %}

{% block head_style %}
    {% stylesheets filter='compass'
    '@MewesKWebRedirectorBundle/Resources/public/sass/base.scss'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}
{% endblock %}

{% block title %}WebRedirector{% endblock %}

{% block navbar %}
    {% embed '@MopaBootstrap/Navbar/navbar.html.twig' with { fixedTop: true, inverse: true, id: 'navbar-example' } %}
        {% block brand %}
            <a class="navbar-brand" href="{{ path('admin') }}">WebRedirector</a>
        {% endblock %}
        {% block menu %}
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> {{ app.user.username }} <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="{{ path('logout') }}">Logout</a></li>
                </ul>
            </li>
        </ul>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block footer_tag_start %}
    <hr>
    <footer>
{% endblock %}

{% block footer %}
    <p>&copy; <a href="https://github.com/MewesK/WebRedirector" target="_blank">Mewes Kochheim</a> 2014</p>
{% endblock %}

{% block body_end_before_js %}
    <div id="confirm" class="modal fade" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    Do you really want to delete this entry?
                </div>
                <div class="modal-footer">
                    <div class="btn-group">
                        <a class="btn btn-danger delete">Delete</a>
                        <a class="btn btn-default" data-dismiss="modal">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block foot_script_assetic %}
    {% javascripts
    'https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'
    '@MopaBootstrapBundle/Resources/public/bootstrap-sass/assets/javascripts/bootstrap/tooltip.js'
    '@MopaBootstrapBundle/Resources/public/bootstrap-sass/assets/javascripts/bootstrap/*.js'
    '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-collection.js'
    '@MewesKWebRedirectorBundle/Resources/public/js/*.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}