{% extends 'MopaBootstrapBundle::base.html.twig' %}

{% block head_style %}
{% stylesheets filter='compass'
    '@MewesKWebRedirectorBundle/Resources/public/sass/style.scss'
%}
<link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
{% endstylesheets %}
{% endblock %}

{% block title %}WebRedirector{% endblock %}

{% block body %}
<div class="container">
    <h1>Redirect list</h1>

    <table class="records_list">
        <thead>
        <tr>
            <th>Id</th>
            <th>Hostname</th>
            <th>Path</th>
            <th>Destination</th>
            <th>Isregex</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('admin_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.hostname }}</td>
                <td>{{ entity.path }}</td>
                <td>{{ entity.destination }}</td>
                <td>{{ entity.isRegex }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_show', { 'id': entity.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_edit', { 'id': entity.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
</div>
{% endblock %}

{% block foot_script_assetic %}
    {% javascripts
    '@MopaBootstrapBundle/Resources/public/bootstrap-sass/assets/javascripts/bootstrap/tooltip.js'
    '@MopaBootstrapBundle/Resources/public/bootstrap-sass/assets/javascripts/bootstrap/*.js'
    '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-collection.js'
    '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-subnav.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock foot_script_assetic %}