{% extends 'MewesKWebRedirectorBundle::base.html.twig' %}

{% block headline %}Redirects{% endblock %}

{% block content_row %}
    <div class="row">
        <div class="col-md-10">
            <table class="table">
                <thead>
                <tr>
                    <th>Hostname</th>
                    <th>Path</th>
                    <th>Destination</th>
                    <th title="Uses Regex"">(.*)</th>
                    <th title="Uses Placeholders">$?</th>
                    <th></th>
                </tr>
                </thead>
                <tbody class="sortable">
                {% for entity in entities %}
                    <tr data-id="{{ entity.id }}">
                        <td>{{ entity.hostname|format_regex }}</td>
                        <td>{{ entity.path|format_regex }}</td>
                        <td>{{ entity.destination }}</td>
                        <td><span class="glyphicon glyphicon-{{ entity.useRegex ? 'ok' : 'none' }}"></span></td>
                        <td><span class="glyphicon glyphicon-{{ entity.usePlaceholders ? 'ok' : 'none' }}"></span></td>
                        <td class="btn-group col-md-3">
                            <a href="{{ path('admin_show', { 'id': entity.id }) }}" class="btn btn-primary btn-xs col-md-3">Show</a>
                            <a href="{{ path('admin_test', { 'id': entity.id }) }}" class="btn btn-default btn-xs col-md-3">Test</a>
                            <a href="{{ path('admin_edit', { 'id': entity.id }) }}" class="btn btn-default btn-xs col-md-3">Edit</a>
                            <a href="{{ path('admin_delete', { 'id': entity.id }) }}" class="btn btn-default btn-xs col-md-3 confirm">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="btn-group-vertical col-md-2">
            <a href="{{ path('admin_new') }}" class="btn btn-primary">
                <span class="glyphicon glyphicon-file pull-left"></span> Create
            </a>
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-download pull-left"></span> Export <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="{{ path('admin_export', { '_format': 'csv' }) }}">CSV</a></li>
                    <li><a href="{{ path('admin_export', { '_format': 'xls' }) }}">XLS</a></li>
                    <li><a href="{{ path('admin_export', { '_format': 'xlsx' }) }}">XLSX</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block foot_script_assetic %}
    {{ parent() }}

    <script type="text/javascript">
        var positionUrl = '{{ path('admin_position', { 'id': '%ID%' }) }}';
    </script>
{% endblock %}