{% extends 'MewesKWebRedirectorBundle::base.html.twig' %}

{% block headline %}Redirects{% endblock %}

{% block content_row %}
    <div class="row">
        <div class="col-md-10">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Hostname</th>
                    <th>Path</th>
                    <th>Destination</th>
                    <th>Use Regex</th>
                    <th>Use Placeholders</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td><a href="{{ path('admin_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                        <td>{{ entity.hostname }}</td>
                        <td>{{ entity.path }}</td>
                        <td>{{ entity.destination }}</td>
                        <td class="col-md-1"><span class="glyphicon glyphicon-{{ entity.useRegex ? 'ok' : 'none' }}"></span></td>
                        <td class="col-md-1"><span class="glyphicon glyphicon-{{ entity.usePlaceholders ? 'ok' : 'none' }}"></span></td>
                        <td class="btn-group col-md-2">
                            <a href="{{ path('admin_show', { 'id': entity.id }) }}" class="btn btn-primary btn-xs col-md-4">Show</a>
                            <a href="{{ path('admin_edit', { 'id': entity.id }) }}" class="btn btn-default btn-xs col-md-4">Edit</a>
                            <a href="{{ path('admin_delete', { 'id': entity.id }) }}" class="btn btn-default btn-xs col-md-4 confirm">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="btn-group-vertical col-md-2">
            <a href="{{ path('admin_new') }}" class="btn btn-primary">
                <span class="glyphicon glyphicon-file pull-left"></span> Create
            </a>
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-download pull-left"></span> Export <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="{{ path('admin_export', { '_format': 'csv' }) }}">CSV</a></li>
                    <li><a href="{{ path('admin_export', { '_format': 'xls' }) }}">XLS</a></li>
                    <li><a href="{{ path('admin_export', { '_format': 'xlsx' }) }}">XLSX</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}