{% extends 'MewesKWebRedirectorBundle::base.html.twig' %}

{% block headline %}Redirects{% endblock %}

{% block content %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Hostname</th>
            <th>Path</th>
            <th>Destination</th>
            <th>Isregex</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('admin_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.hostname }}</td>
                <td>{{ entity.path }}</td>
                <td>{{ entity.destination }}</td>
                <td>{{ entity.isRegex }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_show', { 'id': entity.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_edit', { 'id': entity.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_new') }}" type="button" class="btn btn-primary">Create a new redirect</a>
{% endblock %}